{% load static %}
<header>
  <div class="navbar navbar-header navbar-expand-lg bg-body-tertiary justify-content-center align-items-center d-flex">
    <img src="{% static 'img/house_party.webp' %}" alt="Header" width="120" height="120" class="d-inline-block align-text-top mx-3">
    <h1 class="mb-0 mx-3">Eventos y Servicios</h1>
    <img src="{% static 'img/party_card.webp' %}" alt="Header" width="120" height="120" class="d-inline-block align-text-top mx-3">
  </div>
</header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid ms-5">
    <a class="navbar-brand" href="{% url 'home:home' %}">
        <img src="{% static 'img/code.webp' %}" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'app_services:services_list' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'app_services:services_list' %}">Listado de Servicios</a></li>
            <li><a class="dropdown-item" href="{% url 'app_services:service_create' %}">Nuevo Servicio</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'app_reservation:reservation_list' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reservas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'app_reservation:reservation_list' %}">Listado de Reservas</a></li>
            <li><a class="dropdown-item" href="{% url 'app_reservation:reservation_create' %}">Nueva Reserva</a></li>
          </ul>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'app_clients:clients_list' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'app_clients:clients_list' %}">Listado de Clientes</a></li>
            <li><a class="dropdown-item" href="{% url 'app_clients:clients_create' %}">Nuevo Cliente</a></li>
          </ul>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'employees_app:employee_list' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Empleados
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'employees_app:employee_list_activo' %}">Listado de Empleados</a></li>
            <li><a class="dropdown-item" href="create">Nuevo Empleado</a></li>
          </ul>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'app_coordinators:coordinators_list' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Coordinadores
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'app_coordinators:coordinators_list' %}">Lista de Coordinadores</a></li>
            <li><a class="dropdown-item" href="{% url 'app_coordinators:coordinator_create' %}">Nuevo Coordinador</a></li>
          </ul>
        </li>
    </div>
  </div>
</nav>