{% extends 'base.html' %}
{% block content %} 
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Active</th>
            </tr>
        </thead>   
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{client.id}}</td>
                <td>{{client.first_name}}</td>
                <td>{{client.last_name}}</td>
                <td>{{client.active|yesno:"Sí,No"}}</td>
                <td><a href="{% url 'app_clients:clients_delete' client.id %}">Delete</a></td>
                <td><a href="{% url 'app_clients:clients_detail' client.id %}">Detail</a></td>
            {% endfor %}
        </tbody> 
    </table>
{% endblock %}