{% extends "base.html"%}
{% block content %}
<h1>Lista de Empleados</h1>


<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Activo</th>
        <th>Acciones</th>
        <th>accion</th>
    </tr>
    
    {% for emp in employees  %}
    <tr>
        <td>{{ emp.first_name }} {{ emp.last_name }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.phone }}</td>
        <td>{{ emp.is_active }}</td>
   
    </tr>
    {% endfor %}
    
</table>
{% endblock %}