{% extends "base.html" %}
{% block content %}
<div class="container py-4">
  <h2 class="mb-4">Detalle de la Reserva</h2>
  <div class="card shadow-sm">
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-4">ID:</dt>
        <dd class="col-sm-8">{{ reservation.id }}</dd>

        <dt class="col-sm-4">Cliente:</dt>
        <dd class="col-sm-8">{{ reservation.client }}</dd>

        <dt class="col-sm-4">Fecha de Reserva:</dt>
        <dd class="col-sm-8">{{ reservation.reservation_date }}</dd>

        <dt class="col-sm-4">Fecha de Servicio:</dt>
        <dd class="col-sm-8">{{ reservation.service_date }}</dd>

        <dt class="col-sm-4">Servicio:</dt>
        <dd class="col-sm-8">{{ reservation.service }}</dd>

        <dt class="col-sm-4">Coordinador:</dt>
        <dd class="col-sm-8">{{ reservation.coordinator }}</dd>

        <dt class="col-sm-4">Empleado:</dt>
        <dd class="col-sm-8">{{ reservation.employee }}</dd>
      </dl>
    </div>
    <div class="card-footer text-end">
      <a href="{% url 'app_reservation:reservation_list' %}" class="btn btn-secondary">Volver al listado</a>
    </div>
  </div>
</div>
{% endblock %}