{% extends "base.html" %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Client</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.client}}</td>
            <td>{{ reservation.reservation_date }}</td>
            <td>{{ reservation.service_date }}</td>
            <td>{{ reservation.service }}</td>
            <td>{{ reservation.employee }}</td>
            <td>{{ reservation.coordinator }}</td>
            {% if reservation.active %}
            <td><a href="{% url 'app_reservation:reservation_delete' reservation.id %}">Delete</a></td>
            <td><a href="{% url 'app_reservation:reservation_detail' reservation.id %}">Detail</a></td>
            {% else %}
            <td>Inactive</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
